<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ exoplanet.name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/exodetail.css">
</head>
<body>


    <div class="container">
        <div class="image-section">
            <img class="exoplanet_img" src="{{ exoplanet.image }}" alt="{{ exoplanet.name }}">
        </div>
        <div class="details-section">
            <h1>{{ exoplanet.name }}</h1>
            <p class="description">{{ exoplanet.description }}</p>
            <p class="extra-info">
                <strong>Size:</strong> {{ exoplanet.size }}<br>
                <strong>Distance:</strong> {{ exoplanet.distance }}<br>
              
            </p>
            <a class="back-link" href="/exo">Back to Exoplanets</a>
        </div>
    </div>
</body>
</html>
