<ul class="cards">
    <li>
        <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
      <a href="" class="card">
        <img src="/static/Nasa data/55 Cancri e/55 Cancri e pic1.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="/static/Nasa data/55 Cancri e/55 Cancri e pic1.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">55 Cancri e</h3>            
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">Size: 1.9 Earth radii
            Distance: .... (click to read more...)</p>
        </div>
      </a>      
    </li>
    <li>
      <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
    <a href="" class="card">
      <img src="/static/images/earth.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">exoplanet</h3>            
            <span class="card__status">1 hour ago</span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>      
  </li>
  <li>
    <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
  <a href="" class="card">
    <img src="/static/images/earth.jpg" class="card__image" alt="" />
    <div class="card__overlay">
      <div class="card__header">
        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
        <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
        <div class="card__header-text">
          <h3 class="card__title">exoplanet</h3>            
          <span class="card__status">1 hour ago</span>
        </div>
      </div>
      <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
    </div>
  </a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>
<li>
  <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">  
<a href="" class="card">
  <img src="/static/images/earth.jpg" class="card__image" alt="" />
  <div class="card__overlay">
    <div class="card__header">
      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
      <img class="card__thumb" src="/static/images/earth.jpg" alt="" />
      <div class="card__header-text">
        <h3 class="card__title">exoplanet</h3>            
        <span class="card__status">1 hour ago</span>
      </div>
    </div>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
  </div>
</a>      
</li>


  
    </ul>