<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/exoplanent.css">
    <title>Exoplanets</title>
</head>
<body>
  <header>
    <div class="logo">
        <img src="/static/images/space.logo.png" width="140px" height="80px">
    </div>

    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/exo">Exoplanets</a></li>
            <li><a href="/">Explore</a></li>
            <li><a href="/">Quizz</a></li>
            <li><a href="/">About Us</a></li>
        </ul>
    </div>
</header>


<ul class="cards">
    {% for exoplanet in exoplanets %}
    <li>
        <a href="/exoplanet/{{ exoplanet.id }}" class="card">
            <img src="{{ exoplanet.image }}" class="card__image" alt="{{ exoplanet.name }}" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <img class="card__thumb" src="{{ exoplanet.image }}" alt="{{ exoplanet.name }}" />
                    <div class="card__header-text">
                        <h3 class="card__title">{{ exoplanet.name }}</h3>            
                
                    </div>
                </div>
                <p class="card__description">{{ exoplanet.description }} (Size: {{ exoplanet.size }}, Distance: {{ exoplanet.distance }})</p>
            </div>
        </a>      
    </li>
    {% endfor %}
</ul>

</body>
</html>
