<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/explorepg.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/space.logo.png" width="140px" height="80px">
        </div>
    
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/exo">Exoplanets</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/">Quiz</a></li>
                <li><a href="/">About Us</a></li>
            </ul>
        </div>
    </header>

    <section class="videos-section">
        <h2>Explore Videos</h2>
        <div class="video-grid">
            <div class="video-item">
                <a href="https://youtu.be/pSHVbLPWA28?si=w3n3s8mepSTiJxfy" target="_blank">
                    <img src="/static/images/Explore page resources/firstvid_img.jpg" alt="Video 1">
                    <p>How big is the Universe?</p>
                </a>
            </div>
            <div class="video-item">
                <a href="https://youtu.be/EUU0-ZpFoK4?si=xAR-2ftiexB_9pF2" target="_blank">
                    <img src="/static/images/Explore page resources/secondvid_img.jpg" alt="Video 2">
                    <p>Exoplanet 101</p>
                </a>
            </div>
            <div class="video-item">
                <a href="https://youtu.be/J8lJtgyAcIA?si=de3LSrbUMZgP5CIh" target="_blank">
                    <img src="/static/images/Explore page resources/thirdvid_img.jpg" alt="Video 3">
                    <p>Other Earths: The Search for Habitable Planets</p>
                </a>
            </div>
            <div class="video-item">
                <a href="https://www.youtube.com/watch?v=FD-zTrRWoM8" target="_blank">
                    <img src="/static/images/Explore page resources/fourth_img.jpg" alt="Video 4">
                    <p>New Exoplanet Discoveries - Could They Be Better than Earth? | What If</p>
                </a>
            </div>
            <div class="video-item">
                <a href="https://youtu.be/GTDBPelcITo?si=Im7rM_b2rQROqtzr" target="_blank">
                    <img src="/static/images/Explore page resources/fifthvid_img.jpg" alt="Video 5">
                    <p>How are Exoplanets Discovered?</p>
                </a>
            </div>
            <div class="video-item">
                <a href="https://www.youtube.com/watch?v=STsI6IbPbGQ" target="_blank">
                    <img src="/static/images/Explore page resources/sixthvid_img.jpg" alt="Video 6">
                    <p>How to find a planet you can’t see</p>
                </a>
            </div>
        </div>
    </section>

    <section class="news-section">
        <h2>Exoplanet News</h2>
        <div class="news-grid">
            <div class="news-item">
                <img class="news-img " src = "/static/images/Explore page resources/news-one.jpg">
                <h3>Discovery alert: With six new exoplanets, 5,500 discovery milestone passed</h3>
                <p>On Aug. 24, 2023, more than three decades after the first confirmation of planets beyond our own solar system, scientists announced the discovery of six new exoplanets, stretching that number to 5,502..</p>
                <a href="https://phys.org/news/2024-07-discovery-exoplanets-milestone.html" target="_blank">Read more</a>
            </div>
            <div class="news-item">
                <img class="news-img " src = "/static/images/Explore page resources/news-two.jpeg">
                <h3>NASA’s Webb Confirms Its First Exoplanet</h3>
                <p>Researchers confirmed an exoplanet, a planet that orbits another star, using NASA’s James Webb Space Telescope for the first time. </p>
                <a href="https://www.nasa.gov/missions/webb/nasas-webb-confirms-its-first-exoplanet/" target="_blank">Read more</a>
            </div>
            <div class="news-item">
                <img class="news-img " src = "/static/images/Explore page resources/news-three.jpeg">
                <h3>Astronomers discover a new exoplanet orbiting the closest single star to the sun</h3>
                <p>The exoplanet’s surface is about 257° Fahrenheit and a full year lasts just over three Earth days.</p>
                <a href="https://www.popsci.com/science/exoplanet-barnards-star/" target="_blank">Read more</a>
            </div>
        </div>
    </section>

    <section class="resources-section">
        <h2>Resources</h2>
        <div class="resources-grid">
            <div class="resource-item">
                <a href="https://eyes.nasa.gov/apps/exo/" target="_blank">Visualize the Universe</a>
            </div>
            <div class="resource-item">
                <a href="https://exoplanetarchive.ipac.caltech.edu/" target="_blank">Nasa Exoplanet Archive</a>
            </div>
            <div class="resource-item">
                <a href="https://www.asc-csa.gc.ca/eng/astronomy/beyond-our-solar-system/exoplanet-zoo.asp" target="_blank">Exoplanet Zoo</a>
            </div>
        </div>
    </section>

</body>
</html>
