<html>
    <link rel="stylesheet" type="text/css" href= "/static/style.css">

    <head>

        <title>
            Explore Space
        </title>
    
    </head>

    <body>
        <header>

            <div class="logo"><img src=""></div>

            <div class="navbar">
                <ul>
                    <li><a  href="/">Home</a></li>
                    <li><a hxref="/">Exoplanets</a></li>
                    <li><a href="/">Explore</a></li>
                    <li><a href="/">Quizz</a></li>
                    <li><a href="/">About Us</a></li>
                </ul>
            </div>
        </header>
        
        <div class="text-container">
            <span id="typing-text"></span><span class="caret"></span>
        </div>
        
       
    <script src="/static/script.js"></script>
    </body>
</html>